$color-purple: #6e1c57;
$color-pink: #e87899;
$color-peach: #fcbd8c;
$color-tan: #edd9ba;
$color-navy: #001c57;

$font-regular: 'Avenir Book', sans-serif;
$font-black: 'Avenir Black', sans-serif;
$font-size-xsmall: calc(0.5rem + 0.5vmin);
$font-size-small: calc(0.5rem + 2vmin);
$font-size-medium: calc(1rem + 2.5vmin);
$font-size-large: calc(1rem + 4.5vmin);
$font-size-xlarge: calc(1rem + 6vmin);
